@font-face {
	font-family: "Inter";
	src: url("/fonts/InterVariable.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: "Berkeley Mono";
	src: url("/fonts/BerkeleyMonoVariable-Regular.woff2") format("woff2");
	font-weight: 100 900;
	font-style: normal;
	font-display: block;
}
@font-face {
	font-family: "JetBrains Mono";
	src: url("/fonts/JetBrainsMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: block;
}
