.grid {
  display: grid;
  width: 100%;
  gap: var(--grid-gap, var(--space-s));

  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 14rem), var(--grid-max-item-size, 22rem))
  );
}
