.songGrid {
  display: grid;
  // mobile
  // grid-template-columns: repeat(1, (minmax(0, 1fr)));
  grid-template-columns: repeat(3, (minmax(0, 1fr)));
  gap: 1em;
}

html[data-theme="dark"] {
  --song-card-bg: var(--slate-700);
  --song-title: var(--slate-50);
  --song-artist: var(--slate-300);
  --song-shadow-top: var(--slate-600);
  --song-shadow-bottom: var(--slate-800);
}

html[data-theme="light"] {
  --song-card-bg: var(--slate-50);
  --song-title: var(--slate-700);
  --song-artist: var(--slate-600);
  --song-shadow-top: white;
  --song-shadow-bottom: var(--slate-100);
}

.songCard {
  background: var(--song-card-bg);
  padding: 0.5em;
  box-shadow: var(--song-shadow-top) 0px 1px 0px inset,
    var(--song-shadow-bottom) 0px -1px 0px 0px inset,
    0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 0.5em;
  display: flex;
  align-items: center;
  width: 100%;

  img {
    border-radius: 0.25em;
    flex-shrink: 0;
    align-self: flex-start;
  }
}

.songInfo {
  margin-left: 0.25em;
  width: calc(100% - 4.5em);

  span {
    display: block;
    margin-left: 0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: no-wrap;
    padding-bottom: 0.1em;

    &:nth-of-type(1) {
      font-weight: 700;
      font-family: Poppins;
      color: var(--song-title);
    }

    &:nth-of-type(2) {
      color: var(--song-artist);
      font-size: 0.9em;
      margin-top: 0.25em;
    }
  }
}
