/* h1:hover > .hash-anchor,
h2:hover > .hash-anchor,
h3:hover > .hash-anchor,
h4:hover > .hash-anchor,
h5:hover > .hash-anchor,
h6:hover > .hash-anchor {
  opacity: 1;
}

pre {
  position: relative;
}

pre::before {
  content: attr(data-language);
  font-family: "Fira Code";
  font-family: inherit;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0.5em;
  background: red; */
/* background: ${(props) => props.theme.colors[props.theme.accent][2]}; */
/* color: ${(props) => props.theme.colors[props.theme.accent][8]};
  padding: 0.25em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  font-size: 0.9rem;
}

.hash-anchor {
  transition: opacity 100ms ease-in-out;
}

pre code {
  font-family: "Fira Code";
} */
