@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter-var-latin.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter Display";
  src: url("/fonts/Inter-DisplayBold.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Fira Code";
  src: url("/fonts/fira-code-var-latin.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: block;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}

:root {
  --gutter: var(--space-s-m);
  --border-radius: var(--size-step-1);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 200ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --tracking: -0.05ch;
  --tracking-s: -0.075ch;
}

h1 {
  @apply text-size-4;
}

h2 {
  @apply text-size-3;
}

h3 {
  @apply text-size-2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

:is(h1, h2, h3, h4, h5, h6) a {
  @apply font-display;
}

p,
li,
a,
time {
  @apply font-body;
  @apply text-slate-100;
}
a:any-link {
  @apply font-semibold;
  @apply text-emerald-400;
}

a:any-link:not(.project-link) {
  @apply underline;
  @apply decoration-2;
  @apply underline-offset-2;
}

a:any-link:hover {
  @apply text-emerald-500;
  @apply transition-colors;
}

html[data-theme="light"] {
  p {
    @apply text-slate-800;
  }

  a:any-link {
    @apply font-semibold;
    @apply underline;
    @apply decoration-2;
    @apply text-emerald-500;
  }
  a:any-link:hover {
    @apply text-emerald-600;
  }
}
