---
import BaseLayout from "@layouts/Base.astro";
draft: true;
---

<BaseLayout title="Connor Dowson | Playground">
  <section>
    <h1>Playground</h1>
    <p>Fun little experiments that don't have a home anywhere else.</p>
  </section>
</BaseLayout>

<style lang="scss">
  h1 {
    margin-top: 2em;
  }
</style>
