---
import Section from "@components/Section.astro";
import BaseLayout from "@layouts/Base.astro";
---

<BaseLayout title="Uses | Connor Dowson">
    <Section width="small">
        <div class="region flow prose">
            <h1>Uses</h1>

            <h2>Software</h2>
            <ul>
                <li>
                    I use <a href="https://code.visualstudio.com/">VS Code</a> as
                    my editor.
                </li>
                <li>
                    The theme I use is <a href="https://citylights.xyz/"
                        >City Lights</a
                    >, it's a nice dark theme and is the one you see on this
                    website on any code snippets.
                </li>
                <li>
                    I use <a
                        href="https://berkeleygraphics.com/typefaces/berkeley-mono/"
                        >Berkeley Mono</a
                    > from Berkeley Graphics, well worth the £60 it cost in my eyes,
                    even if my friends make fun of me for spending that much on a
                    font.
                </li>
                <li>Windows terminal with zsh, by using WSL on Windows 11.</li>
                <li>
                    For note taking and brainstorming I use <a
                        href="https://obsidian.md/">Obsidian</a
                    > which uses markdown and is linked up to my Google Drive so
                    I can access my notes from anywhere.
                </li>
            </ul>

            <h2>Hardware</h2>
            <ul>
                <li>
                    I built my own PC - it has an AMD Ryzen 5600X, 32GB RAM, and
                    somehow my GTX 970 is still chugging along 😱.
                </li>
                <li>
                    My keyboard is a Corsair K70 which I'm using until all the
                    parts arrive for a custom keyboard I'm going to build.
                </li>
            </ul>
        </div>
    </Section>
</BaseLayout>
