---
import BaseLayout from "@layouts/Base.astro";
import Section from "@components/Section.astro";
---

<BaseLayout title="Uses | Connor Dowson">
  <Section width="small">
    <div class="region flow prose">
      <h1>Uses</h1>

      <h2>Software</h2>
      <ul>
        <li>
          I use <a href="https://code.visualstudio.com/">VS Code</a> as my editor.
        </li>
        <li>
          The theme I use is <a href="https://citylights.xyz/">City Lights</a>,
          it's a nice dark theme and is available on Atom and Sublime as well.
        </li>
        <li>
          I use <a href="https://berkeleygraphics.com/typefaces/berkeley-mono/"
            >Berkeley Mono</a
          > from Berkeley Graphics, well worth the £60 it cost in my eyes even if
          my friends make fun of me for it.
        </li>
        <li>Windows terminal with zsh, by using WSL on Windows 11.</li>
      </ul>

      <h2>Hardware</h2>
      <ul>
        <li>
          I built my own PC - it has an AMD Ryzen 5600X, 32GB RAM, and somehow
          my GTX 970 is still chugging along 😱.
        </li>
        <li>
          My keyboard is a Corsair K70 which I'm using until I can convince
          myself it's a good idea to spend £100's on a custom built keyboard.
        </li>
      </ul>
    </div>
  </Section>
</BaseLayout>
