---
import Map from "./Map.astro";
---

<section class="mx-auto my-12 p-4 lg:p-0 w-full max-w-[700px]">
  <h2 class="dark:text-emerald-400 mb-4 text-emerald-500">About me</h2>
  <div class="dark:prose-dark prose w-full max-w-none">
    <p>
      I'm a front end web developer currently working at <a
        href="https://shelter.org.uk">Shelter</a
      > and living in Bristol. I graduated from the University of Gloucestershire
      in 2019 with a degree in Computing.
    </p>

    <p>
      I enjoy creating websites as a way to combine technical and creative
      skills; any projects shown here are either university work, or have been
      completed in my free time.
    </p>

    <p>
      In my free time I enjoy listening to music, watching football, and
      drinking cider.
    </p>
  </div>

  <Map />
</section>

<style lang="scss">
  section {
    position: relative;
    width: 700px;
  }
</style>
