---
import { Icon } from "astro-icon";
---

<div class="contact-me-wrapper">
  <section>
    <h2 class="section--heading">Contact me</h2>
    <div class="button-grid">
      <a href="/" class="button"><Icon pack="mdi" name="email" />Email</a>
      <a href="/" class="button"><Icon pack="mdi" name="github" />GitHub</a>
      <a href="/" class="button"><Icon pack="mdi" name="linkedin" />LinkedIn</a>
      <a href="/" class="button"><Icon pack="mdi" name="dribbble" />dribbble</a>
    </div>
  </section>
</div>
<style>
  .contact-me-wrapper {
    width: 100%;
    background-color: var(--slate-700);
  }

  .section--heading {
    text-align: center;
  }

  .button-grid {
    display: grid;
    width: 700px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr 1fr);
    gap: 1em;
  }
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  svg {
    height: 20px;
    color: var(--emerald-600);
    margin-right: 0.25em;
  }
</style>
