---
import { Icon } from "astro-icon/components";
---

<div class="w-full p-4 dark:bg-slate-900">
  <section>
    <h2 class="">Contact me</h2>
    <div class="">
      <a href="/" class="button"><Icon pack="mdi" name="email" />Email</a>
      <a href="/" class="button"><Icon pack="mdi" name="github" />GitHub</a>
      <a href="/" class="button"><Icon pack="mdi" name="linkedin" />LinkedIn</a>
    </div>
  </section>
</div>
