---
import { Icon } from "astro-icon";
import Section from "@components/Section.astro";
---

<div
  class="dark:bg-[#0c1325] bg-slate-300/20 w-full m-0 relative overflow-hidden lg:pb-12 lg:pt-[105px] border-b border-b-white/5"
>
  <section
    class="grid items-center gap-8 z-50 px-4 py-16 sm:grid-cols-[1fr_300px] lg:grid-cols-[1fr_352px] grid-cols-1 w-full lg:max-w-5xl mx-auto"
  >
    <div>
      <h1
        class="lg:text-[3.2em] md:text-[2.6em] leading-[1.3] dark:text-slate-100 text-slate-800"
      >
        Hi! I'm <span
          class="bg-gradient-to-r from-emerald-500 to-emerald-600 text-transparent bg-clip-text"
          >Connor Dowson</span
        >, a front end web developer based in Bristol.
      </h1>
      <div class="flex gap-6 mt-8 justify-between sm:justify-start">
        <a class="no-underline" href="https://twitter.com/ConnorDowsonDev"
          ><Icon
            class="dark:text-emerald-300 text-emerald-500 h-8"
            name="simple-icons:twitter"
            aria-label="Twitter"
          />
        </a>
        <a href="https://github.com/connordowson"
          ><Icon
            class="dark:text-emerald-300 text-emerald-500 h-8"
            name="simple-icons:github"
            aria-label="GitHub"
          />
        </a>
        <a href="https://linkedin.com/in/connor-dowson">
          <Icon
            class="dark:text-emerald-300 text-emerald-500 h-8"
            name="simple-icons:linkedin"
            aria-label="LinkedIn"
          />
        </a>
        <a href="https://dribbble.com/connordowson">
          <Icon
            class="dark:text-emerald-300 text-emerald-500 h-8"
            name="simple-icons:dribbble"
            aria-label="Dribbble"
          />
        </a>
        <a href="mailto:connormwdowson@gmail.com">
          <Icon
            class="dark:text-emerald-300 text-emerald-500 h-8"
            name="mdi:email"
            aria-label="Email"
          />
        </a>
      </div>
    </div>

    <div
      class="md:w-[300px] md:h-[300px] w-[352px] h-[352px] relative grid conic-gradient rounded-full dark:[--circle:#34d399] [--circle:#10b981] mx-auto"
    >
      <img
        src="/connordowson.webp"
        alt="Connor Dowson"
        class="image-clip-path w-full aspect-square h-full rounded-full object-cover object-[center_80%] overflow-hidden relative z-30"
      />
      <div class="circle" id="circle-1"></div>
      <div class="circle" id="circle-2"></div>
      <div class="circle" id="circle-3"></div>
      <div class="gradient"></div>
      <div class="dots dark:[--dots:#94a3b8] [--dots:#475569]"></div>
    </div>
  </section>
</div>

<style lang="scss">
  .conic-gradient {
    -g: #10172b;
    --color-1: #10b981;
    --color-2: #047857;
    background: conic-gradient(
      var(--color-1) 0deg,
      var(--color-2) 20deg,
      var(--color-2) 70deg,
      var(--color-1) 90deg,
      var(--color-2) 110deg,
      var(--color-2) 160deg,
      var(--color-1) 180deg,
      var(--color-2) 200deg,
      var(--color-2) 250deg,
      var(--color-1) 270deg,
      var(--color-2) 290deg,
      var(--color-2) 340deg,
      var(--color-1) 360deg
    );
    & > * {
      grid-area: 1 / 1;
    }
  }

  .image-clip-path {
    clip-path: circle(calc(50% - 1px) at 50% 50%);
  }

  html[data-theme="dark"] {
    --gradient-opacity: 0.2;
  }

  html[data-theme="light"] {
    --gradient-opacity: 0.2;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    border: 1px solid var(--circle);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-name: circle;
    animation-duration: 3500ms;
    animation-delay: var(--delay);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-play-state: running;
  }

  #circle-1 {
    --size-diff: 50px;
    --size: calc(100% + var(--size-diff));
    --delay: 0ms;
    --opacity: 0.4;
    height: var(--size);
    width: var(--size);
  }

  #circle-2 {
    --size-diff: 100px;
    --size: calc(100% + var(--size-diff));
    --opacity: 0.3;
    --delay: 250ms;
    height: var(--size);
    width: var(--size);
  }

  #circle-3 {
    --size-diff: 150px;
    --size: calc(100% + var(--size-diff));
    --opacity: 0.2;
    --delay: 500ms;
    height: var(--size);
    width: var(--size);
  }

  @keyframes circle {
    0% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9) rotate(45deg);
    }
    40%,
    50% {
      opacity: var(--opacity);
      transform: translate(-50%, -50%) scale(1) rotate(45deg);
    }
    100% {
      opacity: 0;
    }
  }

  .dots {
    pointer-events: none;
    height: 120%;
    width: 350%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    background: radial-gradient(
      circle at center,
      var(--dots) 4px,
      transparent 0
    );
    opacity: 0.1;
    background-size: 1em 1em;
    background-position: 0 0, 0.65rem 0.65rem;
    mask-image: radial-gradient(black 0%, transparent 70%);
    -webkit-mask-image: radial-gradient(black 0%, transparent 70%);
    // mix-blend-mode: overlay;
  }

  .gradient {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: 150%;
    width: 300%;
    background: radial-gradient(
      ellipse 50% 50% at center,
      rgba(51, 255, 182, var(--gradient-opacity)),
      transparent
    );
  }
</style>
