---
import { Icon } from "astro-icon";
---

<div class="hero">
  <section class="grid hero-grid full-width">
    <div class="flow flow-space-m">
      <h1>
        Hi! I'm <span>Connor Dowson</span>, a front end web developer based in
        Bristol, UK
      </h1>
      <div class="hero-social-links">
        <a href="https://github.com/connordowson"
          ><Icon name="simple-icons:github" aria-label="GitHub" />
        </a>
        <a href="https://linkedin.com/in/connor-dowson">
          <Icon name="simple-icons:linkedin" aria-label="LinkedIn" />
        </a>
        <a href="mailto:connormwdowson@gmail.com">
          <Icon name="mdi:email" aria-label="Email" />
        </a>
        <!-- <a href="https://twitter.com/ConnorDowsonDev"
          ><Icon name="simple-icons:twitter" aria-label="Twitter" />
        </a>
        <a href="https://dribbble.com/connordowson">
          <Icon name="simple-icons:dribbble" aria-label="Dribbble" />
        </a> -->
      </div>
    </div>

    <div class="hero-image-wrapper">
      <img src="/connordowson.webp" alt="Connor Dowson" class="hero-image" />
      <div class="hero-circle" data-circle-number="1"></div>
      <div class="hero-circle" data-circle-number="2"></div>
      <div class="hero-circle" data-circle-number="3"></div>
      <div class="hero-gradient"></div>
      <div class="hero-dots"></div>
    </div>
  </section>
</div>
