---
import { Icon } from "astro-icon";
---

<div class="hero--wrapper">
  <section class="hero">
    <div>
      <h1>
        Hi! I'm <span class="hero--name">Connor Dowson</span>, a front end web
        developer based in Bristol
      </h1>
      <p></p><div class="social-links">
        <a href=""><Icon name="simple-icons:github" /></a>
        <a href=""> <Icon name="simple-icons:linkedin" /></a>
        <a href=""> <Icon name="simple-icons:dribbble" /></a>
        <a href=""> <Icon name="mdi:email" /></a>
      </div>
    </div>

    <div class="hero--image__wrapper"><img src="/connordowson.webp" /></div>
  </section>

  <img src="/blur.svg" alt="" class="background-blur" />
</div>

<style lang="scss">
  .hero {
    display: grid;
    grid-template-columns: 1fr 352px;
    align-items: center;
    gap: 2em;
    padding: 6em 0;

    h1 {
      font-size: 2.5em;
      line-height: 1.7;
      z-index: 20;
      position: relative;
    }

    img {
      margin-right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 0.5em;
      border: 3px solid var(--slate-300);
      position: relative;
      z-index: 99;
    }
  }

  .social-links {
    display: flex;
    gap: 1.5em;

    > a {
      text-decoration: none;
      border-bottom: none !important;
    }

    svg {
      height: 28px;
      color: var(--emerald-400);
      transition: color 200ms ease-in-out;

      &:hover {
        color: var(--emerald-300);
      }
    }
  }

  .background-blur {
    z-index: 10;
    height: 400px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .hero--wrapper {
    background-color: var(--slate-700);
    width: 100%;
    margin: 0;
    background-image: url("/hero-background.png");
    background-size: 80%;
    background-position: 111% center;
    background-repeat: no-repeat;
    position: relative;
  }

  .hero .hero--name {
    // color: var(--emerald-500);
    background: linear-gradient(
      135deg,
      var(--emerald-400) 0%,
      var(--emerald-600) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .hero .hero--image__wrapper {
    position: relative;
  }

  .hero--image__wrapper::before {
    content: "";
    width: 40%;
    height: 3px;
    background: linear-gradient(
      90deg,
      var(--slate-300) 0%,
      var(--emerald-400) 50%,
      var(--slate-300) 100%
    );
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 111;
  }

  .hero--image__wrapper::after {
    content: "";
    width: 40%;
    height: 3px;
    background: linear-gradient(
      90deg,
      var(--slate-300) 0%,
      var(--emerald-400) 50%,
      var(--slate-300) 100%
    );
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 990;
  }

  section {
    margin: 0 auto;
    position: relative;
  }
</style>
