---
const { name, ...rest } = Astro.props;
---

{
  name === "remix" && (
    <svg
      role="img"
      fill="currentColor"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      {...rest}
    >
      <title>Remix</title>
      <path d="M21.511 18.508c.216 2.773.216 4.073.216 5.492H15.31c0-.309.006-.592.011-.878.018-.892.036-1.821-.109-3.698-.19-2.747-1.374-3.358-3.55-3.358H1.574v-5h10.396c2.748 0 4.122-.835 4.122-3.049 0-1.946-1.374-3.125-4.122-3.125H1.573V0h11.541c6.221 0 9.313 2.938 9.313 7.632 0 3.511-2.176 5.8-5.114 6.182 2.48.497 3.93 1.909 4.198 4.694ZM1.573 24v-3.727h6.784c1.133 0 1.379.84 1.379 1.342V24Z" />
    </svg>
  )
}

{
  name === "astro" && (
    <svg viewBox="0 0 24 24" {...rest} role="img" fill="currentColor">
      <title>Astro</title>
      <path
        fill="currentColor"
        d="M16.074 16.86c-.72.616-2.157 1.035-3.812 1.035c-2.032 0-3.735-.632-4.187-1.483c-.161.488-.198 1.046-.198 1.402c0 0-.106 1.75 1.111 2.968c0-.632.513-1.145 1.145-1.145c1.083 0 1.082.945 1.081 1.712v.069c0 1.164.711 2.161 1.723 2.582a2.347 2.347 0 0 1-.236-1.029c0-1.11.652-1.523 1.41-2.003c.602-.383 1.272-.807 1.733-1.66a3.129 3.129 0 0 0 .378-1.494a3.14 3.14 0 0 0-.148-.954zM15.551.6c.196.244.296.572.496 1.229l4.368 14.347a18.18 18.18 0 0 0-5.222-1.768L12.35 4.8a.37.37 0 0 0-.71.002l-2.81 9.603a18.175 18.175 0 0 0-5.245 1.771L7.974 1.827c.2-.656.3-.984.497-1.227a1.613 1.613 0 0 1 .654-.484C9.415 0 9.757 0 10.443 0h3.135c.686 0 1.03 0 1.32.117A1.614 1.614 0 0 1 15.55.6z"
      />
    </svg>
  )
}

{
  name === "tailwind" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <title>Tailwind</title>
      <path
        fill="currentColor"
        d="M12 6c-2.67 0-4.33 1.33-5 4c1-1.33 2.17-1.83 3.5-1.5c.76.19 1.31.74 1.91 1.35c.98 1 2.09 2.15 4.59 2.15c2.67 0 4.33-1.33 5-4c-1 1.33-2.17 1.83-3.5 1.5c-.76-.19-1.3-.74-1.91-1.35C15.61 7.15 14.5 6 12 6m-5 6c-2.67 0-4.33 1.33-5 4c1-1.33 2.17-1.83 3.5-1.5c.76.19 1.3.74 1.91 1.35C8.39 16.85 9.5 18 12 18c2.67 0 4.33-1.33 5-4c-1 1.33-2.17 1.83-3.5 1.5c-.76-.19-1.3-.74-1.91-1.35C10.61 13.15 9.5 12 7 12Z"
      />
    </svg>
  )
}

{
  name === "solid" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <title>SolidJS</title>
      <path
        fill="currentColor"
        d="M11.558.788A9.082 9.082 0 0 0 9.776.99l-.453.15c-.906.303-1.656.755-2.1 1.348l-.301.452l-2.035 3.528c.426-.387.974-.698 1.643-.894h.001l.613-.154h.001a8.82 8.82 0 0 1 1.777-.206c2.916-.053 6.033 1.148 8.423 2.36c2.317 1.175 3.888 2.32 3.987 2.39L24 5.518c-.082-.06-1.66-1.21-3.991-2.386c-2.393-1.206-5.521-2.396-8.45-2.343zM8.924 5.366a8.634 8.634 0 0 0-1.745.203l-.606.151c-1.278.376-2.095 1.16-2.43 2.108c-.334.948-.188 2.065.487 3.116c.33.43.747.813 1.216 1.147L12.328 10h.001a6.943 6.943 0 0 1 6.013 1.013l2.844-.963c-.17-.124-1.663-1.2-3.91-2.34c-2.379-1.206-5.479-2.396-8.352-2.344zm5.435 4.497a6.791 6.791 0 0 0-1.984.283L2.94 13.189L0 18.334l9.276-2.992a6.945 6.945 0 0 1 7.408 2.314v.001c.695.903.89 1.906.66 2.808l2.572-4.63c.595-1.041.45-2.225-.302-3.429a6.792 6.792 0 0 0-5.255-2.543zm-3.031 5.341a6.787 6.787 0 0 0-2.006.283L.008 18.492c.175.131 2.02 1.498 4.687 2.768c2.797 1.332 6.37 2.467 9.468 1.712l.454-.152h.002c1.278-.376 2.134-1.162 2.487-2.09c.353-.93.207-2.004-.541-2.978a6.791 6.791 0 0 0-5.237-2.548z"
      />
    </svg>
  )
}

{
  name === "postgresql" && (
    <svg viewBox="0 0 32 32" {...rest} role="img">
      <title>PostgreSQL</title>
      <path
        fill="currentColor"
        d="M22.839 0a13.59 13.59 0 0 0-3.677.536l-.083.027a15.132 15.132 0 0 0-2.276-.219c-1.573-.027-2.923.353-4.011.989C11.719.964 9.495.317 7.151.448c-1.629.088-3.411.583-4.735 1.979C1.104 3.818.407 5.974.552 8.912c.041.807.271 2.124.656 3.837c.38 1.709.917 3.709 1.589 5.537c.672 1.823 1.405 3.463 2.552 4.577c.572.557 1.364 1.032 2.296.991c.652-.027 1.24-.313 1.751-.735c.249.328.516.468.755.599c.308.167.599.281.907.355c.552.14 1.495.323 2.599.135a5.083 5.083 0 0 0 1.167-.359l.047 1.307c.057 1.38.095 2.656.505 3.776c.068.183.251 1.12.969 1.953c.724.833 2.129 1.349 3.739 1.005c1.131-.24 2.573-.677 3.532-2.041c.948-1.344 1.375-3.276 1.459-6.412c.02-.172.047-.312.072-.448l.224.021h.027c1.208.052 2.521-.12 3.62-.631c.968-.448 1.703-.901 2.239-1.708c.131-.199.281-.443.319-.86c.041-.411-.199-1.063-.595-1.364c-.791-.604-1.291-.375-1.828-.26a8.698 8.698 0 0 1-1.599.192c1.541-2.593 2.645-5.353 3.276-7.792c.375-1.443.584-2.771.599-3.932c.021-1.161-.077-2.187-.771-3.077C28.481.802 25.423.03 23.059.005h-.219zm-.063.855c2.235-.021 5.093.604 7.145 3.228c.464.589.6 1.448.584 2.511s-.213 2.328-.573 3.719c-.692 2.699-2.011 5.833-3.859 8.652a.847.847 0 0 0 .208.115c.385.161 1.265.296 3.025-.063c.443-.095.767-.156 1.105.099a.69.69 0 0 1 .244.568a.921.921 0 0 1-.177.448c-.339.509-1.009.995-1.869 1.396c-.76.353-1.855.536-2.817.547c-.489.005-.937-.032-1.319-.152l-.02-.004c-.147 1.411-.484 4.203-.704 5.473c-.176 1.025-.484 1.844-1.072 2.453c-.589.615-1.417.979-2.537 1.219c-1.385.297-2.391-.021-3.041-.568s-.948-1.276-1.125-1.719c-.124-.307-.187-.703-.249-1.235a26.832 26.832 0 0 1-.136-1.911c-.041-1.12-.057-2.24-.041-3.365a4.092 4.092 0 0 1-2.068 1.016c-.921.156-1.739 0-2.228-.12a3.032 3.032 0 0 1-.693-.271c-.229-.12-.443-.255-.588-.527a.75.75 0 0 1-.073-.509a.806.806 0 0 1 .287-.443c.265-.215.615-.333 1.14-.443c.959-.199 1.297-.333 1.5-.496c.172-.135.371-.416.713-.828c0-.015 0-.036-.005-.052a3.961 3.961 0 0 1-1.771-.479c-.197.208-1.224 1.292-2.468 2.792c-.521.624-1.099.984-1.713 1.011c-.609.025-1.163-.281-1.631-.735c-.937-.912-1.688-2.48-2.339-4.251s-1.177-3.744-1.557-5.421c-.375-1.683-.599-3.037-.631-3.688c-.14-2.776.511-4.645 1.625-5.828s2.641-1.625 4.131-1.713c2.672-.151 5.213.781 5.724.979c.989-.672 2.265-1.088 3.859-1.063a9.85 9.85 0 0 1 2.24.292l.027-.016a9.11 9.11 0 0 1 .984-.28a12.864 12.864 0 0 1 2.76-.339zm.203.89h-.197c-.76.009-1.527.099-2.271.26c1.661.735 2.916 1.864 3.801 3c.615.781 1.12 1.64 1.505 2.557c.152.355.251.651.303.88c.031.115.047.213.057.312c0 .052.005.105-.021.193c0 .005-.005.016-.005.021c.043 1.167-.249 1.957-.287 3.072c-.025.808.183 1.756.235 2.792c.047.973-.072 2.041-.703 3.093c.052.063.099.125.151.193c1.672-2.636 2.88-5.547 3.521-8.032c.344-1.339.525-2.552.541-3.509c.016-.959-.161-1.657-.391-1.948c-1.792-2.287-4.213-2.871-6.24-2.885zm-6.391.343c-1.572.005-2.703.48-3.561 1.193c-.887.74-1.48 1.745-1.865 2.781c-.464 1.224-.625 2.411-.688 3.219l.021-.011a6.787 6.787 0 0 1 1.771-.687c.667-.157 1.391-.204 2.041.052c.657.249 1.193.848 1.391 1.749c.939 4.344-.291 5.959-.744 7.177c-.172.443-.323.891-.443 1.349c.057-.011.115-.027.172-.032c.323-.025.572.079.719.141c.459.192.771.588.943 1.041a2.2 2.2 0 0 1 .093.38a.572.572 0 0 1 .027.167a72.023 72.023 0 0 0 .015 4.984c.032.719.079 1.349.136 1.849c.057.495.135.875.188 1.005c.171.427.421.984.875 1.364c.448.381 1.093.631 2.276.381c1.025-.224 1.656-.527 2.077-.964c.423-.443.672-1.052.833-1.984c.245-1.401.729-5.464.787-6.224c-.025-.579.057-1.021.245-1.36c.187-.344.479-.557.735-.672c.124-.057.244-.093.343-.125a13.47 13.47 0 0 0-.323-.432a6.04 6.04 0 0 1-.891-1.463a7.408 7.408 0 0 0-.344-.647c-.176-.317-.4-.719-.635-1.172c-.469-.896-.979-1.989-1.245-3.052c-.265-1.063-.301-2.161.376-2.932c.599-.688 1.656-.973 3.233-.812c-.047-.141-.072-.261-.151-.443a10.469 10.469 0 0 0-1.391-2.355c-1.339-1.713-3.511-3.412-6.859-3.469zm-8.853.068a7.72 7.72 0 0 0-.505.016c-1.349.079-2.62.468-3.532 1.432c-.911.969-1.509 2.547-1.38 5.167c.027.5.24 1.885.609 3.536c.371 1.652.896 3.595 1.527 5.313c.629 1.713 1.391 3.208 2.12 3.916c.364.349.681.495.968.485c.287-.016.636-.183 1.063-.693a57.33 57.33 0 0 1 2.412-2.729a4.666 4.666 0 0 1-1.552-4.203c.135-.984.156-1.907.135-2.636c-.015-.708-.063-1.176-.063-1.473v-.032l-.005-.009c0-1.537.272-3.057.792-4.5c.375-.996.928-2 1.76-2.819c-.817-.271-2.271-.676-3.843-.755a7.764 7.764 0 0 0-.505-.016zm16.53 7.041c-.905.016-1.411.251-1.681.552c-.376.433-.412 1.193-.177 2.131c.233.937.719 1.984 1.172 2.855c.224.437.443.828.619 1.145c.183.323.313.547.391.745c.073.177.157.333.24.479c.349-.74.412-1.464.375-2.224c-.047-.937-.265-1.896-.229-2.864c.037-1.136.261-1.876.277-2.751a7.899 7.899 0 0 0-.985-.068zm-10.978.158c-.276 0-.552.036-.823.099a6.102 6.102 0 0 0-1.537.599a3.319 3.319 0 0 0-.463.303l-.032.025c.011.199.047.667.063 1.365c.016.76 0 1.728-.145 2.776c-.323 2.281 1.333 4.167 3.276 4.172c.115-.469.301-.944.489-1.443c.541-1.459 1.604-2.521.708-6.677c-.145-.677-.437-.953-.839-1.109a1.935 1.935 0 0 0-.697-.109zm10.557.27h.068c.083.005.167.011.239.031a.532.532 0 0 1 .183.073a.21.21 0 0 1 .099.145v.011a.386.386 0 0 1-.047.183a.92.92 0 0 1-.145.197a.875.875 0 0 1-.516.281a.78.78 0 0 1-.547-.135a1.04 1.04 0 0 1-.172-.157a.318.318 0 0 1-.084-.172a.235.235 0 0 1 .052-.171a.69.69 0 0 1 .157-.12c.129-.073.301-.125.5-.152c.072-.009.145-.015.213-.02zm-10.428.224c.068 0 .147.005.22.015c.208.032.385.084.525.167a.52.52 0 0 1 .177.141a.32.32 0 0 1 .073.224a.44.44 0 0 1-.1.208a.847.847 0 0 1-.192.172a.841.841 0 0 1-.599.151a.96.96 0 0 1-.557-.301a1.061 1.061 0 0 1-.157-.219a.36.36 0 0 1-.057-.24c.021-.14.141-.219.256-.26c.131-.043.271-.057.411-.052zm12.079 9.791h-.005c-.192.073-.353.1-.489.163a.587.587 0 0 0-.317.285c-.089.152-.156.423-.136.885a.622.622 0 0 0 .199.095c.224.068.609.115 1.036.109c.849-.011 1.896-.208 2.453-.469a5.25 5.25 0 0 0 1.255-.817c-1.859.38-2.905.281-3.552.016a1.935 1.935 0 0 1-.443-.267zm-10.708.125h-.027c-.072.005-.172.032-.375.251c-.464.52-.625.848-1.005 1.151c-.385.307-.88.469-1.875.672a2.573 2.573 0 0 0-.615.192c.036.032.036.043.093.068c.147.084.333.152.485.193c.427.104 1.124.229 1.859.104c.729-.125 1.489-.475 2.141-1.385c.115-.156.124-.391.031-.641c-.093-.244-.297-.463-.437-.52a1.033 1.033 0 0 0-.276-.084z"
      />
    </svg>
  )
}

{
  name === "prisma" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <title>Prisma</title>
      <path
        fill="currentColor"
        d="M21.807 18.285L13.553.756a1.324 1.324 0 0 0-1.129-.754a1.31 1.31 0 0 0-1.206.626l-8.952 14.5a1.356 1.356 0 0 0 .016 1.455l4.376 6.778a1.408 1.408 0 0 0 1.58.581l12.703-3.757c.389-.115.707-.39.873-.755s.164-.783-.007-1.145zm-1.848.752L9.18 22.224a.452.452 0 0 1-.575-.52l3.85-18.438c.072-.345.549-.4.699-.08l7.129 15.138a.515.515 0 0 1-.325.713z"
      />
    </svg>
  )
}

{
  name === "typescript" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <title>TypeScript</title>
      <path
        fill="currentColor"
        d="M1.125 0C.502 0 0 .502 0 1.125v21.75C0 23.498.502 24 1.125 24h21.75c.623 0 1.125-.502 1.125-1.125V1.125C24 .502 23.498 0 22.875 0zm17.363 9.75c.612 0 1.154.037 1.627.111a6.38 6.38 0 0 1 1.306.34v2.458a3.95 3.95 0 0 0-.643-.361a5.093 5.093 0 0 0-.717-.26a5.453 5.453 0 0 0-1.426-.2c-.3 0-.573.028-.819.086a2.1 2.1 0 0 0-.623.242c-.17.104-.3.229-.393.374a.888.888 0 0 0-.14.49c0 .196.053.373.156.529c.104.156.252.304.443.444s.423.276.696.41c.273.135.582.274.926.416c.47.197.892.407 1.266.628c.374.222.695.473.963.753c.268.279.472.598.614.957c.142.359.214.776.214 1.253c0 .657-.125 1.21-.373 1.656a3.033 3.033 0 0 1-1.012 1.085a4.38 4.38 0 0 1-1.487.596c-.566.12-1.163.18-1.79.18a9.916 9.916 0 0 1-1.84-.164a5.544 5.544 0 0 1-1.512-.493v-2.63a5.033 5.033 0 0 0 3.237 1.2c.333 0 .624-.03.872-.09c.249-.06.456-.144.623-.25c.166-.108.29-.234.373-.38a1.023 1.023 0 0 0-.074-1.089a2.12 2.12 0 0 0-.537-.5a5.597 5.597 0 0 0-.807-.444a27.72 27.72 0 0 0-1.007-.436c-.918-.383-1.602-.852-2.053-1.405c-.45-.553-.676-1.222-.676-2.005c0-.614.123-1.141.369-1.582c.246-.441.58-.804 1.004-1.089a4.494 4.494 0 0 1 1.47-.629a7.536 7.536 0 0 1 1.77-.201zm-15.113.188h9.563v2.166H9.506v9.646H6.789v-9.646H3.375z"
      />
    </svg>
  )
}

{
  name === "django" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <title>Django</title>
      <path
        fill="currentColor"
        d="M11.146 0h3.924v18.166c-2.013.382-3.491.535-5.096.535c-4.791 0-7.288-2.166-7.288-6.32c0-4.002 2.65-6.6 6.753-6.6c.637 0 1.121.05 1.707.203zm0 9.143a3.894 3.894 0 0 0-1.325-.204c-1.988 0-3.134 1.223-3.134 3.365c0 2.09 1.096 3.236 3.109 3.236c.433 0 .79-.025 1.35-.102V9.142zM21.314 6.06v9.098c0 3.134-.229 4.638-.917 5.937c-.637 1.249-1.478 2.039-3.211 2.905l-3.644-1.733c1.733-.815 2.574-1.53 3.109-2.625c.561-1.121.739-2.421.739-5.835V6.059h3.924zM17.39.021h3.924v4.026H17.39z"
      />
    </svg>
  )
}

{
  name === "sass" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <title>Sass</title>
      <path
        fill="currentColor"
        d="M12 0c6.627 0 12 5.373 12 12s-5.373 12-12 12S0 18.627 0 12S5.373 0 12 0zM9.615 15.998c.175.645.156 1.248-.024 1.792l-.065.18c-.024.061-.052.12-.078.176c-.14.29-.326.56-.555.81c-.698.759-1.672 1.047-2.09.805c-.45-.262-.226-1.335.584-2.19c.871-.918 2.12-1.509 2.12-1.509v-.003l.108-.061zm9.911-10.861c-.542-2.133-4.077-2.834-7.422-1.645c-1.989.707-4.144 1.818-5.693 3.267C4.568 8.48 4.275 9.98 4.396 10.607c.427 2.211 3.457 3.657 4.703 4.73v.006c-.367.18-3.056 1.529-3.686 2.925c-.675 1.47.105 2.521.615 2.655c1.575.436 3.195-.36 4.065-1.649c.84-1.261.766-2.881.404-3.676c.496-.135 1.08-.195 1.83-.104c2.101.24 2.521 1.56 2.43 2.1c-.09.539-.523.854-.674.944c-.15.091-.195.12-.181.181c.015.09.091.09.21.075c.165-.03 1.096-.45 1.141-1.471c.045-1.29-1.186-2.729-3.375-2.7c-.9.016-1.471.091-1.875.256a.362.362 0 0 0-.105-.105c-1.35-1.455-3.855-2.475-3.75-4.41c.03-.705.285-2.564 4.8-4.814c3.705-1.846 6.661-1.335 7.171-.21c.733 1.604-1.576 4.59-5.431 5.024c-1.47.165-2.235-.404-2.431-.615c-.209-.225-.239-.24-.314-.194c-.12.06-.045.255 0 .375c.12.3.585.825 1.396 1.095c.704.225 2.43.359 4.5-.45c2.324-.899 4.139-3.405 3.614-5.505l.073.067z"
      />
    </svg>
  )
}

{
  name === "external-link" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <path
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 6H6a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-4M14 4h6m0 0v6m0-6L10 14"
      />
    </svg>
  )
}

{
  name === "dark" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <path
        fill="currentColor"
        d="M12 21q-3.75 0-6.375-2.625T3 12q0-3.75 2.625-6.375T12 3q.35 0 .688.025q.337.025.662.075q-1.025.725-1.637 1.887Q11.1 6.15 11.1 7.5q0 2.25 1.575 3.825Q14.25 12.9 16.5 12.9q1.375 0 2.525-.613q1.15-.612 1.875-1.637q.05.325.075.662Q21 11.65 21 12q0 3.75-2.625 6.375T12 21Z"
      />
    </svg>
  )
}

{
  name === "light" && (
    <svg viewBox="0 0 24 24" {...rest} role="img">
      <path
        fill="currentColor"
        d="M12 17q-2.075 0-3.537-1.463Q7 14.075 7 12t1.463-3.538Q9.925 7 12 7t3.538 1.462Q17 9.925 17 12q0 2.075-1.462 3.537Q14.075 17 12 17ZM1 13v-2h4v2Zm18 0v-2h4v2Zm-8-8V1h2v4Zm0 18v-4h2v4ZM6.35 7.75L3.875 5.275l1.4-1.4L7.75 6.35Zm12.375 12.375L16.25 17.65l1.4-1.4l2.475 2.475ZM17.65 7.75l-1.4-1.4l2.475-2.475l1.4 1.4ZM5.275 20.125l-1.4-1.4L6.35 16.25l1.4 1.4Z"
      />
    </svg>
  )
}

{
  name === "simple-icons:twitter" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M23.953 4.57a10 10 0 0 1-2.825.775a4.958 4.958 0 0 0 2.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 0 0-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 0 0-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 0 1-2.228-.616v.06a4.923 4.923 0 0 0 3.946 4.827a4.996 4.996 0 0 1-2.212.085a4.936 4.936 0 0 0 4.604 3.417a9.867 9.867 0 0 1-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 0 0 7.557 2.209c9.053 0 13.998-7.496 13.998-13.985c0-.21 0-.42-.015-.63A9.935 9.935 0 0 0 24 4.59z"
      />
    </svg>
  )
}

{
  name === "simple-icons:github" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M12 .297c-6.63 0-12 5.373-12 12c0 5.303 3.438 9.8 8.205 11.385c.6.113.82-.258.82-.577c0-.285-.01-1.04-.015-2.04c-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729c1.205.084 1.838 1.236 1.838 1.236c1.07 1.835 2.809 1.305 3.495.998c.108-.776.417-1.305.76-1.605c-2.665-.3-5.466-1.332-5.466-5.93c0-1.31.465-2.38 1.235-3.22c-.135-.303-.54-1.523.105-3.176c0 0 1.005-.322 3.3 1.23c.96-.267 1.98-.399 3-.405c1.02.006 2.04.138 3 .405c2.28-1.552 3.285-1.23 3.285-1.23c.645 1.653.24 2.873.12 3.176c.765.84 1.23 1.91 1.23 3.22c0 4.61-2.805 5.625-5.475 5.92c.42.36.81 1.096.81 2.22c0 1.606-.015 2.896-.015 3.286c0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"
      />
    </svg>
  )
}

{
  name === "simple-icons:linkedin" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037c-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85c3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433a2.062 2.062 0 0 1-2.063-2.065a2.064 2.064 0 1 1 2.063 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z"
      />
    </svg>
  )
}

{
  name === "simple-icons:dribbble" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M12 24C5.385 24 0 18.615 0 12S5.385 0 12 0s12 5.385 12 12s-5.385 12-12 12zm10.12-10.358c-.35-.11-3.17-.953-6.384-.438c1.34 3.684 1.887 6.684 1.992 7.308a10.28 10.28 0 0 0 4.395-6.87zm-6.115 7.808c-.153-.9-.75-4.032-2.19-7.77l-.066.02c-5.79 2.015-7.86 6.025-8.04 6.4a10.161 10.161 0 0 0 6.29 2.166c1.42 0 2.77-.29 4-.814zm-11.62-2.58c.232-.4 3.045-5.055 8.332-6.765c.135-.045.27-.084.405-.12c-.26-.585-.54-1.167-.832-1.74C7.17 11.775 2.206 11.71 1.756 11.7l-.004.312c0 2.633.998 5.037 2.634 6.855zm-2.42-8.955c.46.008 4.683.026 9.477-1.248a65.473 65.473 0 0 0-3.8-5.928a10.275 10.275 0 0 0-5.676 7.17zM9.6 2.052c.282.38 2.145 2.914 3.822 6c3.645-1.365 5.19-3.44 5.373-3.702A10.19 10.19 0 0 0 12 1.764c-.825 0-1.63.1-2.4.285zm10.335 3.483c-.218.29-1.935 2.493-5.724 4.04c.24.49.47.985.68 1.486c.08.18.15.36.22.53c3.41-.43 6.8.26 7.14.33c-.02-2.42-.88-4.64-2.31-6.38z"
      />
    </svg>
  )
}

{
  name === "mdi:email" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="m20 8l-8 5l-8-5V6l8 5l8-5m0-2H4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2Z"
      />
    </svg>
  )
}

{
  name === "simple-icons:reddit" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M12 0A12 12 0 0 0 0 12a12 12 0 0 0 12 12a12 12 0 0 0 12-12A12 12 0 0 0 12 0zm5.01 4.744c.688 0 1.25.561 1.25 1.249a1.25 1.25 0 0 1-2.498.056l-2.597-.547l-.8 3.747c1.824.07 3.48.632 4.674 1.488c.308-.309.73-.491 1.207-.491c.968 0 1.754.786 1.754 1.754c0 .716-.435 1.333-1.01 1.614a3.111 3.111 0 0 1 .042.52c0 2.694-3.13 4.87-7.004 4.87c-3.874 0-7.004-2.176-7.004-4.87c0-.183.015-.366.043-.534A1.748 1.748 0 0 1 4.028 12c0-.968.786-1.754 1.754-1.754c.463 0 .898.196 1.207.49c1.207-.883 2.878-1.43 4.744-1.487l.885-4.182a.342.342 0 0 1 .14-.197a.35.35 0 0 1 .238-.042l2.906.617a1.214 1.214 0 0 1 1.108-.701zM9.25 12C8.561 12 8 12.562 8 13.25c0 .687.561 1.248 1.25 1.248c.687 0 1.248-.561 1.248-1.249c0-.688-.561-1.249-1.249-1.249zm5.5 0c-.687 0-1.248.561-1.248 1.25c0 .687.561 1.248 1.249 1.248c.688 0 1.249-.561 1.249-1.249c0-.687-.562-1.249-1.25-1.249zm-5.466 3.99a.327.327 0 0 0-.231.094a.33.33 0 0 0 0 .463c.842.842 2.484.913 2.961.913c.477 0 2.105-.056 2.961-.913a.361.361 0 0 0 .029-.463a.33.33 0 0 0-.464 0c-.547.533-1.684.73-2.512.73c-.828 0-1.979-.196-2.512-.73a.326.326 0 0 0-.232-.095z"
      />
    </svg>
  )
}

{
  name === "mdi:link-variant" && (
    <svg {...rest} role="img" viewBox="0 0 24 24">
      <path
        fill="currentColor"
        d="M10.59 13.41c.41.39.41 1.03 0 1.42c-.39.39-1.03.39-1.42 0a5.003 5.003 0 0 1 0-7.07l3.54-3.54a5.003 5.003 0 0 1 7.07 0a5.003 5.003 0 0 1 0 7.07l-1.49 1.49c.01-.82-.12-1.64-.4-2.42l.47-.48a2.982 2.982 0 0 0 0-4.24a2.982 2.982 0 0 0-4.24 0l-3.53 3.53a2.982 2.982 0 0 0 0 4.24m2.82-4.24c.39-.39 1.03-.39 1.42 0a5.003 5.003 0 0 1 0 7.07l-3.54 3.54a5.003 5.003 0 0 1-7.07 0a5.003 5.003 0 0 1 0-7.07l1.49-1.49c-.01.82.12 1.64.4 2.43l-.47.47a2.982 2.982 0 0 0 0 4.24a2.982 2.982 0 0 0 4.24 0l3.53-3.53a2.982 2.982 0 0 0 0-4.24a.973.973 0 0 1 0-1.42Z"
      />
    </svg>
  )
}
