---
import ToggleTheme from "./ToggleTheme.jsx";
const { maxWidth } = Astro.props;
---

<nav
  class="fixed inline-flex top-0 z-50 w-full backdrop-blur-md border-b dark:border-b-white/5 border-b-slate-700/10"
>
  <div
    class={`w-full ${
      maxWidth ? `max-w-${maxWidth}` : `max-w-5xl`
    } px-4 mx-auto my-0 flex justify-between`}
  >
    <ul class="flex gap-8 py-4">
      <li class="inline list-none">
        <a href="/">Home</a>
      </li>
      <li class="inline list-none">
        <a href="/blog">Blog</a>
      </li>
      <li>
        <a href="/playground">Playground</a>
      </li>
    </ul>

    <ToggleTheme client:load />
  </div>
</nav>

<style>
  nav {
    mask-image: linear-gradient(to bottom, black 10%, white);
  }
</style>
