---
import ToggleTheme from "./ToggleTheme.jsx";
---

<header class="header">
  <nav class="navbar full-width">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>

    <ToggleTheme client:load />
  </nav>
</header>
