.project-card {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projects-grid {
  --grid-no-of-columns: 2;
  --grid-min-item-size: 24rem;
}

html[data-theme="dark"] .project-card h3 {
  color: var(--slate-100);
}

html[data-theme="light"] .project-card h3 {
  color: var(--slate-800);
}

.project-card-top {
  padding: var(--space-s);
}

.project-card-top ul {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 0;
  margin-bottom: 0;
}

.project-card-top li {
  border-radius: var(--space-3xs);
  display: inline-flex;
  place-items: center;
  padding-block: var(--space-4xs);
  padding-inline: var(--space-2xs);
  font-size: var(--step--1);
}

html[data-theme="dark"] .project-card li {
  color: var(--slate-200);
  background-color: rgba(255, 255, 255, 0.05);
}

html[data-theme="light"] .project-card li {
  color: var(--slate-700);
  background-color: var(--slate-200);
}

.project-card-top svg {
  height: 1rem;
  margin-right: var(--space-3xs);
  color: var(--slate-400);
}

.project-card-bottom {
  display: flex;
  gap: var(--space-m);
  margin-top: auto;
  padding: var(--space-s);
}

html[data-theme="dark"] .project-card-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}

html[data-theme="light"] .project-card-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
