.share-post {
  border-radius: var(--space-2xs);
  display: flex;
  place-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: var(--space-xs);
  margin-block: var(--space-l);
}

[data-theme="dark"] .share-post {
  background-color: var(--slate-800);
}
[data-theme="light"] .share-post {
  background-color: var(--slate-100);
}

.share-post h3 {
  margin-left: var(--space-xs);
  padding-block: 0;
  margin-bottom: 0;
}

.share-post ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  gap: var(--space-xs);
}

.share-post ul li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media screen and (max-width: 700px) {
  .share-post ul li :is(a, button) {
    padding: var(--space-m);
  }
}

@media screen and (max-width: 500px) {
  .share-post ul li :is(a, button) {
    padding: var(--space-s);
  }

  .share-post p {
    margin-left: var(--space-s);
  }
}

@media screen and (max-width: 450px) {
  .share-post ul li :is(a, button) {
    padding: var(--space-xs);
    padding-block: var(--space-s);
  }
  .share-post p {
    margin-left: var(--space-xs);
  }
}

@media screen and (max-width: 450px) {
  .share-post ul li :is(a, button) svg {
    height: 16px;
  }
}
