.theme-button {
  display: inline-flex;
  justify-content: center;
  border-radius: var(--space-3xs);
  align-self: center;
  border: none;
  background-color: var(--accent);
  padding: var(--space-3xs);
  cursor: pointer;
  color: var(--button-color);
}

.theme-button:hover {
  background-color: var(--accent-hover);
  transition: background-color 150ms ease-in-out;
}

.theme-button svg {
  height: var(--space-xs);
  width: var(--space-xs);
}

[data-theme="dark"] .theme-button {
  --button-color: var(--emerald-900);
}

[data-theme="light"] .theme-button {
  --button-color: var(--emerald-50);
}
