---
import "@styles/main.scss";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";
const { title, frontmatter, maxWidth } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Portfolio site for Connor Dowson, a Bristol based front end web developer. "
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#34d399" />
    <meta name="msapplication-TileColor" content="#34d399" />
    <meta name="theme-color" content="#34d399" />
    <title>
      {
        title ||
          `${frontmatter.title} | Connor Dowson | Portfolio` ||
          "Connor Dowson | Portfolio"
      }
    </title>
  </head>
</html>
<body class="dark:bg-slate-800 bg-slate-100">
  <Navbar maxWidth={maxWidth} />
  <GlobalStyles />
  <main><slot /></main>
</body>
