---
import "@styles/main.scss";
import GlobalStyles from "../components/GlobalStyles.astro";
import Navbar from "../components/Navbar.astro";
const { title, frontmatter, maxWidth } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Portfolio site for Connor Dowson, a Bristol based front end web developer. "
    />
    <title>
      {
        title ||
          `${frontmatter.title} | Connor Dowson | Portfolio` ||
          "Connor Dowson | Portfolio"
      }
    </title>
  </head>
</html>
<body class="dark:bg-slate-800 bg-slate-100">
  <Navbar maxWidth={maxWidth} />
  <GlobalStyles />
  <main><slot /></main>
</body>
