---
import Navbar from "../components/Navbar.astro";
const { title, data, metaKeywords, metaDescription, metaImageURL, isBlogPost } =
  Astro.props;
import.meta.glob("/src/styles/global/*.css", { eager: true });
import.meta.glob("/src/styles/compositions/*.css", { eager: true });
import.meta.glob("/src/styles/utilities/*.css", { eager: true });
import.meta.glob("/src/styles/block/*.css", { eager: true });

const site = Astro.site;
const url = Astro.url;
---

<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content={metaDescription
        ? metaDescription
        : "Portfolio site for Connor Dowson, a Bristol based front end web developer."}
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#34d399" />
    <meta name="msapplication-TileColor" content="#34d399" />
    <meta name="theme-color" content="#34d399" />

    {
      metaKeywords ? (
        <meta name="keywords" content={metaKeywords.join(",")} />
      ) : null
    }
    <meta
      property="og:image"
      content={metaImageURL ? metaImageURL : `${site}meta-image.png`}
    />
    <meta
      property="og:title"
      content={title ||
        `${data.title} | Connor Dowson | Portfolio` ||
        "Connor Dowson | Portfolio"}
    />
    <meta property="og:type" content={isBlogPost ? "article" : "website"} />

    <meta
      name="og:description"
      content={metaDescription
        ? metaDescription
        : "Portfolio site for Connor Dowson, a Bristol based front end web developer."}
    />
    <meta property="og:url" content={url} />

    <title>
      {
        title ||
          `${data.title} | Connor Dowson | Portfolio` ||
          "Connor Dowson | Portfolio"
      }
    </title>

    <slot name="head" />

    <link
      rel="preload"
      href="/fonts/InterVariable.woff2"
      as="font"
      type="font/woff2"
      crossorigin
      fetchpriority="high"
    />

    <!-- This is intentionally inlined to avoid FOUC -->
    <script is:inline>
      const root = document.documentElement;
      const theme = localStorage.getItem("theme-preference");
      if (
        theme === "dark" ||
        (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        root.setAttribute("data-theme", "dark");
      } else {
        root.setAttribute("data-theme", "light");
      }
    </script>

    <!-- Umami -->
    <script
      defer
      src="https://umami.connordowson.dev/script.js"
      data-website-id="c70a3e94-9ab7-4190-8432-0a3270bbc615"></script>
  </head>

  <body>
    <Navbar />
    <main><slot /></main>
  </body>
</html>
