---
import BaseLayout from "./Base.astro";
const { frontmatter } = Astro.props;
import { Image, Picture } from "@astrojs/image/components";
import { format } from "date-fns";
---

<BaseLayout frontmatter={Astro.props.frontmatter}>
  <header>
    <div>
      <h1>{frontmatter.title}</h1>
      <div>
        <Image
          src="/connordowson.webp"
          alt="Connor Dowson"
          height="60"
          width="60"
          quality="100"
          format="webp"
          aspectRatio="1:1"
          fit="cover"
        />
        <div>
          <p>Blog by Connor Dowson</p>

          <time>{format(new Date(frontmatter.date), "do MMMM, yyyy")}</time>
        </div>
      </div>
    </div>
  </header>
  <article>
    <!-- <header>
      <h1>{frontmatter.title}</h1>
      <div>
        <Image
          src="/connordowson.webp"
          alt="Connor Dowson"
          height="60"
          width="60"
          quality="100"
          format="webp"
          aspectRatio="1:1"
          fit="cover"
        />
        <div>
          <p>Blog by Connor Dowson</p>

          <time>{format(new Date(frontmatter.date), "dd MMMM, yyyy")}</time>
        </div>
      </div>
    </header> -->

    <slot />
  </article>
</BaseLayout>

<style lang="scss">
  html[data-theme="dark"] {
    --circle: var(--emerald-400);
    --dots: var(--slate-400);
    --gradient-opacity: 0.15;
  }

  html[data-theme="light"] {
    --circle: var(--emerald-500);
    --dots: var(--slate-600);
    --gradient-opacity: 0.2;
  }

  article {
    width: 46rem;
    margin: 3em auto 4em;
    line-height: 1.7;
  }

  header {
    background-color: var(--slate-900);
    background-color: var(--hero-bg);
    background-blend-mode: darken, luminosity;
    padding: 5em 2em 3em;
    position: relative;
    overflow: hidden;

    &::before {
      pointer-events: none;

      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        ellipse 80% 90% at bottom right,
        var(--accent-text),
        transparent
      );
      opacity: 0.15;
      // opacity: 0;
      mix-blend-mode: color-dodge;
    }

    > div {
      width: 46rem;
      // width: 960px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: c;
      height: 100%;
    }

    h1 {
      color: var(--accent-text);
    }

    img {
      border-radius: 50%;
      margin-right: 1em;
      border: 1px solid var(--accent-text);
      border: 1px solid var(--pink);
    }

    > div {
      display: flex;
      > div {
        display: flex;
        flex-direction: row;
        p {
          display: block;
          margin: 0;
        }
        time {
          display: block;
        }
      }
    }
  }

  article :global(h1),
  article :global(h2),
  article :global(h3),
  article :global(h4),
  article :global(h5),
  article :global(h6) {
    color: var(--emerald-500);
    border-bottom: 1px solid var(--slate-700);
    margin-bottom: 1em;
    padding: 0.75rem 0;
  }

  article :global(pre) {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--slate-700);
    margin: 0;
    z-index: 2;
  }

  article :global(code:not(pre code)) {
    font-family: "Fira Code";
    padding: 0em 0.4em;
    border-radius: 0.5em;
    font-size: 0.9em;
    display: inline-block;
    border: 1px solid var(--slate-700);
    background-color: #1e1e1e;
    color: #b7c5d3;
  }

  article :global(.remark-code-title + pre) {
    border-radius: 0 0.5em 0.5em 0.5em;
  }

  article :global(.remark-code-title) {
    background-color: var(--emerald-200);
    color: var(--emerald-800);
    display: inline-block;
    font-family: Fira Code;
    font-weight: 400;
    padding: 0.5em 0.75em;
    border-radius: 0.5em 0.5em 0 0;
  }

  article :global(table) {
    display: block;
    width: max-content;
    max-width: 100%;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 1em;
  }
  article :global(tr) {
    border-top: 1px solid var(--slate-600);

    &:nth-child(2n) {
      background-color: var(--slate-700);
    }
  }
  article :global(th, td) {
    padding: 6px 13px;
    border: 1px solid var(--slate-600);
  }

  article :global(blockquote) {
    margin-bottom: 1em;
    padding: 0 1em;
    border-left: 4px solid var(--slate-600);
    margin-left: 0;
  }

  article :global(hr) {
    height: 2px;
    border: 0;
    padding: 0;
    background-color: var(--slate-700);
  }

  article :global(> ul, ol) {
    list-style-position: inside;
    padding-left: 0;
  }
</style>
